<!DOCTYPE html>
<html>
    <head>
        <title><% titulo %></title>

        <meta charset="UTF-8">

        <!-- HOJA DE ESTILOS  -->
        <link rel="stylesheet" href="/css/bootstrap.css">
    </head>
    <body>
        
        <main class="container" style="padding-top: 5rem;">

            <div class="jumbotron" style="display: flex; justify-content: center; flex-direction: column;">
                <h1 class="display-4"><%= mensaje %></h1>
                <p class="lead" style="width: 80%;">
                    La pagina que estas buscando no existe, por favor comprueba la ruta de la url, si el problema persiste puede ser motivo de algun error de la aplicacion, te pedimos paciencia y comprension.
                    <br>
                    Atentamente el equipo de CryptoBox.
                </p>
                <hr class="my-4">
            </div>

        </main>

    </body>
</html>