<%- include('templates/cabecera', {titulo: 'Sobre nosotros'}); %>

<main class="container" style="padding: 2rem;">

    <div class="card mb-3">
        <img class="card-img-top" src="/img/historia.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">SOBRE NOSOTROS - NUESTRA HISTORIA</h5>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus quidem deserunt ipsum porro, cupiditate non totam excepturi maiores nam molestiae quas suscipit fugiat, similique fuga ratione sequi hic ea reprehenderit!
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum sapiente a eum unde est cum. Ex ratione hic quaerat dolor, facilis, ipsa doloremque temporibus necessitatibus ullam adipisci iusto quis! Corporis.
              
          </p>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">Opciones de futuro</li>
            <li class="list-group-item">Antecedentes en la historia</li>
            <li class="list-group-item">Razones para avanzar</li>
            <li class="list-group-item">Objetivos cumplidos</li>
            <li class="list-group-item">Promesas en curso</li>
          </ul>

          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus quidem deserunt ipsum porro, cupiditate non totam excepturi maiores nam molestiae quas suscipit fugiat, similique fuga ratione sequi hic ea reprehenderit!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum sapiente a eum unde est cum. Ex ratione hic quaerat dolor, facilis, ipsa doloremque temporibus necessitatibus ullam adipisci iusto quis! Corporis.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus quidem deserunt ipsum porro, cupiditate non totam excepturi maiores nam molestiae quas suscipit fugiat, similique fuga ratione sequi hic ea reprehenderit!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum sapiente a eum unde est cum. Ex ratione hic quaerat dolor, facilis, ipsa doloremque temporibus necessitatibus ullam adipisci iusto quis! Corporis.
            
        </p>

        <h5 class="card-title">VISION DE FUTURO - EXPECTATIVAS</h5>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus quidem deserunt ipsum porro, cupiditate non totam excepturi maiores nam molestiae quas suscipit fugiat, similique fuga ratione sequi hic ea reprehenderit!
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum sapiente a eum unde est cum. Ex ratione hic quaerat dolor, facilis, ipsa doloremque temporibus necessitatibus ullam adipisci iusto quis! Corporis.
              
          </p>
          
          <p class="card-text"><small class="text-muted">Ultima modificacion hace 2 semanas.</small></p>
        </div>
      </div>

</main>

<%- include('templates/footer'); %>