<%- include('templates/cabecera', {titulo: 'Servicios'}); %>

<main class="container" style="padding: 2rem;">

    <h1 class="h1 text-center" style="margin: 1rem;">SERVICIOS QUE OFRECEMOS</h1>


    <div class="row">
        <div class="jumbotron jumbotron-fluid" style="width: 50%; height: 500px;">
            <div class="container">
              <h1 class="display-4">Producto Numero 2</h1>
              <p class="lead">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ducimus cumque iusto molestias maxime molestiae id. Reprehenderit, iusto culpa vel saepe dolores porro nam natus unde quod? A, facilis ad.
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum sequi et quae, ipsa aut minus voluptatum, voluptates iure repudiandae aliquid neque! Quis aliquam id quae nihil sint laborum cum velit.
              </p>
              <a class="btn btn-primary btn-lg" href="#" role="button" style="width: 100%;">Adquirir Producto</a>
            </div>
        </div>
        <img src="/img/articulo1.jpg" alt=""  style="width: 50%; height: 500px;">
    </div>

    <div class="row">
        <div class="jumbotron jumbotron-fluid" style="width: 50%; height: 500px;">
            <div class="container">
              <h1 class="display-4">Producto Numero 1</h1>
              <p class="lead">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ducimus cumque iusto molestias maxime molestiae id. Reprehenderit, iusto culpa vel saepe dolores porro nam natus unde quod? A, facilis ad.
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum sequi et quae, ipsa aut minus voluptatum, voluptates iure repudiandae aliquid neque! Quis aliquam id quae nihil sint laborum cum velit.
              </p>
              <a class="btn btn-primary btn-lg" href="#" role="button" style="width: 100%;">Adquirir Producto</a>
            </div>
        </div>
        <img src="/img/articulo2.jpg" alt=""  style="width: 50%; height: 500px;">
    </div>

    <div class="row">
        <div class="jumbotron jumbotron-fluid" style="width: 50%; height: 500px;">
            <div class="container">
              <h1 class="display-4">Producto Numero 3</h1>
              <p class="lead">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ducimus cumque iusto molestias maxime molestiae id. Reprehenderit, iusto culpa vel saepe dolores porro nam natus unde quod? A, facilis ad.
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum sequi et quae, ipsa aut minus voluptatum, voluptates iure repudiandae aliquid neque! Quis aliquam id quae nihil sint laborum cum velit.
              </p>
              <a class="btn btn-primary btn-lg" href="#" role="button" style="width: 100%;">Adquirir Producto</a>
            </div>
        </div>
        <img src="/img/articulo3.jpg" alt=""  style="width: 50%; height: 500px;">
    </div>
        
    

      

</main>

<%- include('templates/footer'); %>