<!DOCTYPE html>

    <!-- HTML -->
    <html lang="es">
        <head>
            <!-- TITULO DEL DOCUMENTO  -->
            <title><%= titulo %></title>

            <!-- ETIQUETAS META  -->
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <!-- HOJA DE ESTILOS  -->
            <link rel="stylesheet" href="/css/bootstrap.css">

            <!-- GOOGLE FONT ROBOTO  -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

        </head>

        <!-- INICIO BODY  -->
        <body>
            <!-- HEADER  -->
            <header class="card-header">
                <!-- MENU DE NAVEGACION  -->
                <nav class="navbar ">
                    
                    <a class="navbar-brand" href="/home" style="margin: 0%; padding: 0%; border-radius: 8px;">
                        <img src="/img/logo.png" width="150px" height="50px" class="d-inline-block align-top" alt="" style="margin: 0%; padding: 0%; border-radius: 8px;">
                      </a>

                    <!-- OPCIONES DEL MENU -->
                    <ul class="nav nav-pills">
                        <a class="nav-link" href="/home"><li>HOME</li></a>
                        <a class="nav-link" href="/contacto"><li>CONTACTO</li></a>
                        <a class="nav-link" href="/nosotros"><li>NOSOTROS</li></a>
                        <a class="nav-link" href="/Servicios"><li>SERVICIOS</li></a>
                        <a class="nav-link" href="/contratar"><li>CONTRATAR</li></a>
                    </ul>

                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Busqueda" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Busqueda</button>
                      </form>
                </nav>
            </header>
