
            <footer class="card-footer">
                <section>CopyRigth - Jorge Hernández Flores</section>
            </footer>
        </body>

        <!-- SCRIPTS JAVASCRIPT  -->
        <script type="text/javascript" src="./js/script_1.js"></script>

        <!-- FONT AWESOME ICONOS  -->
        <script src="https://kit.fontawesome.com/74ff1e73d3.js" crossorigin="anonymous"></script>
    </html>